@import "tailwindcss";

@layer base {
  :root {
    --background: 231 91% 4%;        
    --foreground: 0 0% 96%;          

    --card: 237 50% 15%;             
    --card-foreground: 0 0% 96%;

    --popover: 231 50% 13%;          
    --popover-foreground: 0 0% 96%;

    --primary: 224 74% 51%;          
    --primary-foreground: 0 0% 96%;

    --secondary: 237 50% 15%;       
    --secondary-foreground: 0 0% 96%;

    --muted: 237 50% 15%;
    --muted-foreground: 215 20% 65%;

    --accent: 224 74% 51%;           
    --accent-foreground: 0 0% 96%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 96%;

    --border: 224 74% 51%;          
    --input: 237 50% 15%;
    --ring: 224 74% 51%;

    --radius: 0.75rem;
  }
}

:root {
  --background-base: #010112;
  --color-widget: #171733;
  --color-calendar: #100F1D;
  --color-text: #F5F5F5;
  --border-zafiro: #2554E0;
}

@theme inline {
  --color-background: var(--background-base);
  --color-foreground: var(--color-text);
  --font-sans: var(--font-inter); 
  --font-nunito: var(--font-nunito);
}


body {
  background-color: var(--background-base);
  color: var(--color-text);
  font-family: Arial, Helvetica, sans-serif;
}


*::-webkit-scrollbar {
  width: 4px;
  height: 2px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: #2554E0;
  border-radius: 9999px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #3b6ef0;
}