@import "tailwindcss";

:root {
  --background-base: #010112;
  --color-widget: #171733;
  --color-calendar: #100F1D;
  --color-text: #F5F5F5;
  --border: #2554E0;


  --background: var(--background-base);
  --foreground: var(--color-text);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter); 
  --font-nunito: var(--font-nunito)
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
